


<div class="main-content">
    <h2 style="color:#00f2c3;"><i class="fas fa-fire"></i> Gecikme Yoğunluk (Heatmap) Analizi</h2>
    <p style="color:#9a9a9a;">Gecikmelerin %50'den fazla olduğu bölgeler stratejik risk puanına göre işaretlenmiştir.</p>
    
    <div class="map-box" style="height: 650px;">
        <div id="mapHeat"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script src="/js/geo-logic.js"></script>
<script src="/js/kds-logic.js"></script>
<script src="/js/app-main.js"></script>
<script>
    // Sayfa yüklendiğinde heatmap'i başlat
    window.onload = () => {
        initHeatmapAnalysis();
    };
</script>